body {
    background-color: aliceblue;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

h1 {
    text-align: center;
    font-size: 2.5rem;
    border-style: double;
}


/****************************************** Media Query for small screen sizes 500px and down*/
@media screen and (max-width: 500px) {

    /* Make image responsive */
    #rules-image{
        max-width: 80%;
        width: 80%;
        /* height: auto !important;  */
     }

}

/******************************************End of Media Queries ********************************************************************************/